<div class="container">
	<div class="title_icon"><img src="/person.png"></div><h1>List of Contacts for <%= fullname(@person) %></h1>
	<table class="table">
	<th>ID</th><th>Last Name</th><th>First Name</th><th>Contacts</th>
	<tbody>
	<% @contacts.each do |person| %>
	    <tr>
			<td><%= person.id %></td>
			<td><%= person.last_name %></td>
			<td><%= person.first_name %></td>
			<td>
			<% if (person.contacts_by.count > 0 || person.contacts_with.count > 0 ) %>
	 		  <a href='/people/contacts/<%= person.id %>'>Contacts</a>
			<% end %>
			</td>
		</tr>
	<% end %> 
    </tbody>
   </table>
</div>