<div class="container">
	<div class="title_icon"><img src="/person.png"></div><h1>Case Profiles</h1>
	<div style="padding-bottom: 15px"><button><a href="/people/new">Add New</a></button></div>
	<table class="table">
	<th>ID</th><th>Last Name</th><th>First Name</th><th>Parent's Name</th><th>Birthdate</th><th>Lab Report</th><th></th>
	<tbody>
	<% @people.each do |person| %>
	    <tr>
			<td><a href='/people/<%= person.id %>'><%= person.id %></a></td><td><%= person.last_name %></td><td><%= person.first_name %></td>
			<td><%= person.parent_name %></td><td><%= person.birthdate %></td>
			<td><a href='/labs/<%= person.lab.id %>'>Lab</a></td>
			<td>
			<% if person.contacts_with.count > 0 %>
	 		  <a href='/people/contacts/<%= person.id %>'>Contacts</a>
			<% end %>
			</td>	  
		</tr>
	<% end %>  
	</tbody>
</table>
</div>