<div class="container">
   <div class="title_icon"><img src="/person.png"></div><h1>Case Record</h1>
   <table class="table">
	   <tr><td>Name : </td><td><%= @person.first_name %></td></tr>
	   <tr><td>Family Name : </td><td><%= @person.last_name %></td></tr>
	   <tr><td>Gender : </td><td><%= @person.gender %></td></tr>
	   <tr><td>Birthday : </td><td><%= @person.birthdate %></td></tr>
	   <tr><td>Parent's Name : </td><td><%= @person.parent_name %></td></tr>
    </table>	 
</div>   