<div class="container">
	<div class="title_icon"><img src="/labs.png"></div><h1>Laboratory List</h1>
	<table class="table">
	<th>ID</th><th>Case ID</th><th>Last Name</th><th>First Name</th><th>Date Received</th><th>Completed</th><th>Date Completed</th><th>Tested By</th><th>Result</th>
	<tbody>
	<% @labs.each do |lab| %>
	    <tr>
			<td><a href='/labs/<%= lab.id %>'><%= lab.id %></a></td>
			<td><a href='/people/<%= lab.person_id %>'><%= lab.person_id %></a></td>
			<td><%= lab.person.last_name %></td>
			<td><%= lab.person.first_name %></td>
			<td><%= lab.date_received %></td>
			<td><% if lab.completed == 1 %><img src="check-mark.png"><% end %></td>
			<td><%= lab.date_completed %></td>
			<td><%= lab.tested_by %></td>
			<td><%= lab.result %></td>  
		</tr>
	<% end %> 
	</tbody> 
</table>
</div>