<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cms</title>

  <link rel="stylesheet" type="text/css" href="<%= asset_path 'layout.css' %>">
  <script src="<%= asset_path 'layout.js' %>"></script>

  <%= yield_content :head %>
</head>
<body>
  <%= partial 'layouts/flash_messages' %>	
  <%= yield %>
</body>
</html>