<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cms</title>

  <link rel="stylesheet" type="text/css" href="<%= 'stylesheets/layout.css' %>">
  <link rel="stylesheet" type="text/css" href="<%= 'stylesheets/bootstrap.css' %>">
  <script src="<%= 'javascripts/layout.js' %>"></script>
  

  <%= yield_content :head %>
</head>
<body>
  <%= partial 'layouts/flash_messages' %>	
  <%= yield %>
  <script src="<%= 'javascripts/bootstrap.min.js' %>"></script>
</body>
</html>